legged_gym/outputs/train_v4_fix/run_20251208_145643/best_model.pt
legged_gym/data/processed/affordance_data.pt
legged_gym/outputs/train_v3/run_20251208_141012/best_model.pt
legged_gym/outputs/train_v4/run_20251208_145234/best_model.pt
legged_gym/data/processed/affordance_data.pt
legged_gym/outputs/*
legged_gym/data/processed/*.pt
**/__pycache__/
*.pyc
# 1. Python 运行时垃圾
__pycache__/
*.py[cod]

# 2. 训练产物 (核心！防止传几个G的大文件)
logs/
runs/
experiments/
videos/
*.pt
*.pth
*.onnx

# 3. 编译文件 (Isaac Gym 的 C++ 扩展)
build/
*.so

# 4. 个人配置 (VS Code / PyCharm)
.vscode/
.idea/
*.md 
*.pdf

# 5. 系统垃圾
.DS_Store